.sec{
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 768px){
  .welcome-pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p-block{
    padding-block: 30px;
  }
  .sec-welcome{
    padding-block: 30px;
    background: linear-gradient(114.04deg, #6985AC 11.79%, rgba(146, 100, 168, 0.74) 66.28%,
     rgba(134, 69, 193, 0.726158) 99.99%, rgba(112, 11, 239, 0.7) 100%);
  }
  .card-bg{
    border: none !important;
    background-color: transparent !important;
  }
}
.text-font{
  font-size: 38px;
}
.btn1-bg{
  background-color: #700bef !important;
  color: white !important;
  border-color: #700bef !important;
}
.btn2-bg{
  background-color: #d4b6fa !important;
  color: #700bef !important;
  border-color: #d4b6fa !important;
}
.input {
  background: rgba(112, 11, 239, 0.3) !important;
  border-radius: 30px !important;
  height: 50px !important;
}

/* dashboard */
.picy{
  padding-top: 50px;
}

.bg-mid{
  background-color: #CCCCCC;
  height: 100vh;
  
}

.cad-bg{
  background-color: rgba(134, 69, 193, 0.726158) !important;
  width: 40rem;
  /* height: 200px; */
  text-align: center;
  line-height: 1.2rem !important;
  color: white;
}
.table-head{
  background-color: rgba(134, 69, 193, 0.726158);
  color: white;
}
.pic{
  border-radius: 70%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 20px;
}
.text{
  font-size: 12px !important;
  color: #f4f4f4 !important;
  font-weight: 400;
  line-height: 1.8 !important ;
}

.but{
  height: 60px;
  margin:  0 60px;
  border: none !important;
}
.but:hover{
  background-color : #CCCCCC;
}

.bg-color{
  background-color: rgba(134, 69, 193, 0.726158);
  /* color: white; */
}
@media( max-width: 768px){
  .table-head{
    background-color: rgba(134, 69, 193, 0.726158);
    color: white;
  }
  .pic{
    border-radius: 70%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .text{
    font-size: 12px !important;
    text-align: left;
    font-weight: 400;
    line-height: 1 ;
  }
  
  .but{
    height: 60px;
    margin:  0 60px;
    border: none !important;
  }
  .but:hover{
    background-color : #CCCCCC;
  }
  
  .bg-color{
    background-color: rgba(134, 69, 193, 0.726158);
    /* color: white; */
  }
  .bg-mid{
    background-color: #CCCCCC;
    height: 100vh;
    
  }

  .mt-5{
    margin-top: 0 !important;
  }

  .cad-bg{
    width: 100%;
  }

.order{
  order: 3;
}
}